{% extends "layout.html.twig" %} 

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span8 offset2">
		<div class="hero-unit">
			<h1>Hello, world!</h1>
			<p>This is the running prototype of openEssayist.</p>
			<p>
				<a href="/login" class="btn btn-primary btn-large">Learn more
					&raquo;</a> 
				{% if not(user) %} 
				<a href="/login"
					class="btn btn-large">Login &raquo;</a> 
				{% endif %}
			</p>
		</div>
	</div>
</div>
{% endblock %}

